.card-link {
    text-decoration: none !important; 
    color: inherit;
}

.card-link:hover, .card-link:visited, .card-link:active, .card-link:-webkit-any-link  {
    text-decoration: none !important; /* Убираем подчёркивание для всех состояний */
}

.card{
  margin-top: 2vh;
  font-size: calc(1rem + 1vw); 
}

@media (min-width: 981px) and (max-width: 2560px) { 
  .card-title {
    font-size: calc(1.0rem + 1.0vw);
  }
  .card-text {
    font-size: calc(0.8rem + 0.8vw);
  }
}

@media (min-width: 577px) and (max-width: 980px) { 
  .card-title {
    font-size: calc(0.8rem + 1.0vw);
  }
  .card-text {
    font-size: calc(0.7rem + 0.8vw);
  }
}

@media (min-width: 320px) and (max-width: 576px) { 
  .card-title {
    font-size: calc(1.0rem + 1.0vw);
  }
  .card-text {
    font-size: calc(0.8rem + 0.8vw);
  }
}